{{!< default}}

<main class="content" role="main">

    <div class="container">

        {{#foreach posts}}

        <article class="{{post_class}}">

            <header class="post-header">
                <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
                <p class="post-time"><time datetime="{{date format='MM-DD-YYYY'}}">{{date format="DD MMM YYYY"}}</time></p>
            </header>

            <section class="post-excerpt">
                <p>{{excerpt}}&hellip;</p>
            </section>

            <footer class="post-footer">
                <span>
                  {{#if tags}}
                  <a href="{{url}}#disqus_thread">Comments</a>
                  <i class="fa fa-tag"></i> {{tags}}
                  {{/if}}
                </span>
            </footer>

        </article>

        {{/foreach}}

        {{pagination}}

    </div>

</main>
